h1{
  color:blue;
}
.hero{
  text-align:center;
  background-image:url("starbg.jpg");
  width:100%;
  height:100%;
  margin:auto;
  font-family:Arial;!important


}
img{
  height:500px;
  width:50%;
  margin:0 400px;
}
